<section class="sobre-o-que-e" aria-labelledby="sobre-o-que-e-title">
  <div class="sie-section-shell sobre-o-que-e__shell">
    <div class="sobre-o-que-e__content">
      <h2 id="sobre-o-que-e-title" class="sobre-o-que-e__title">O que é o SIE?</h2>
      <span class="sobre-o-que-e__rule" aria-hidden="true"></span>

      <div class="sobre-o-que-e__text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis, massa vitae
          faucibus posuere, neque justo pulvinar erat, vitae posuere libero lorem sed justo. Lorem
          ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, voluptate voluptatem
          cum nam eos vero cupiditate, quis error eius autem placeat? Perspiciatis blanditiis ab
          similique itaque dicta asperiores corrupti vitae!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, natus quam aliquam quis
          totam quibusdam vero eveniet minus nihil dolore architecto animi ipsam obcaecati sed,
          mollitia iusto ipsa sequi adipisci. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Voluptas a consectetur aut ea! Architecto voluptatum voluptatibus in laborum saepe.
          Labore commodi quae distinctio possimus velit! Necessitatibus sint ut quibusdam aut! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptatem similique dolor
          blanditiis explicabo itaque excepturi ipsam a, doloremque nesciunt. Nulla sapiente non
          provident aliquam quibusdam repellat tempore rerum voluptatibus?
        </p>
      </div>
    </div>
  </div>
</section>
